body {
    display: flex;
    padding: 64px 80px;
    gap: 40px;
    background-color: #F1E8B8;
}

nav {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid #564138;
}

button {
    font-size: 14px;
    font-weight: 500;
    color: #564138;
    padding: 16px 0;
    background-color: transparent;
    border: none;
}

button#hoursLocation {
    border-bottom: 1px solid #564138;
}

button.active {
    background-color: #564138;
    color: #f8f3f1;
}

div#content {
    border: 1px solid #c1b1aa;
    width: 100%;
    height: 100vh;
}