body {
  display: flex;
  padding: 64px 80px;
  gap: 48px;
  background-color: #f1e8b8;
}

nav {
  display: flex;
  flex-direction: column;
  width: 200px;
}

button {
  font-size: 12px;
  font-weight: 500;
  color: #564138;
  padding: 8px 0;
  background-color: transparent;
  border: 1px solid #c1b1aa;
}

#menu {
  border-width: 1px 1px 0.5px;
}

#hours {
  border-width: 0.5px 1px;
}

#about {
  border-width: 0.5px 1px 1px;
}

button.active {
  background-color: #564138;
  border: 1px solid #564138;
  color: #f8f3f1;
}

div#content {
  box-sizing: content-box;
  /* border: 1px solid #c1b1aa; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 16px;
}

/* menu page */
.menu-header {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px;
  color: #577137;
}

.table {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 1px;
  gap: 1px;
  background-color: #564138;
  margin-top: 40px;
  margin-bottom: 96px;
  width: 100%;
  height: 200px;
}

.row {
  display: flex;
  gap: 1px;
  width: 100%;
}

.row-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #564138;
  background-color: #f1e8b8;
  padding-left: 20px;
}

.line-symbol {
  display: flex;
  justify-content: center;
  flex-basis: 65px;
  padding-left: 0;
}

.meal-name {
  flex-basis: 30%;
  font-weight: 700;
}

.meal-ingredients {
  flex-grow: 1;
}

.meal-price {
  display: flex;
  justify-content: center;
  padding-left: 0;
  color: #577137;
  font-weight: 700;
  flex-basis: 65px;
}
