body {
  display: grid;
  grid-template-columns: 1fr 9fr;
  padding: 64px 240px;
  gap: 100px;
  background-color: #f1e8b8;
}

nav {
  display: flex;
  flex-direction: column;
  width: 160px;
  padding-top: 8px;
  grid-column: 1 / 2;
}

button {
  font-size: 12px;
  font-weight: 500;
  color: #564138;
  padding: 8px 0;
  background-color: transparent;
  border: 1px solid #c1b1aa;
}

#menu {
  border-width: 1px 1px 0.5px;
}

#hours {
  border-width: 0.5px 1px;
}

#about {
  border-width: 0.5px 1px 1px;
}

button.active {
  background-color: #564138;
  border: 1px solid #564138;
  color: #f8f3f1;
}

div#content {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
