.hours-header {
  font-family: "PT Serif", serif;
  font-size: 24px;
  font-weight: 500;
  /* letter-spacing: -1px; */
  color: #564138;
}

.hours-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  list-style: none;
}

.hours-row {
  position: relative;
  padding-left: 24px;
  color: #564138;
}

.hours-row::before {
  position: absolute;
  content: "❇︎";
  color: #564138;
  font-size: 16px;
  left: 0;
}

.hours-span {
  font-weight: 700;
}
