.hours-header {
  font-family: "PT Serif", serif;
  font-size: 24px;
  font-weight: 500;
  /* letter-spacing: -1px; */
  color: #564138;
}

.no-list-style {
  list-style: none;
}

.hours-list, .holidays-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.hours-list {
  position: relative;
}

.hours-row {
  position: relative;
  padding-left: 24px;
  color: #564138;
}

.hours-row::before {
  position: absolute;
  content: "❇︎";
  color: #564138;
  font-size: 16px;
  left: 0;
}

.hours-span {
  font-weight: 600;
}

.holidays-header {
  /* font-family: "PT Serif", serif; */
  font-size: 16px;
  font-weight: 400;
  /* letter-spacing: -1px; */
  color: #564138;
  margin-top: 32px;
}

.holidays-list {
  margin-top: 16px;
}