.hours-header,
.location-header {
  font-family: "PT Serif", serif;
  font-size: 24px;
  font-weight: 500;
  /* letter-spacing: -1px; */
  color: #564138;
}

.no-list-style {
  list-style: none;
}

.hours-list,
.holidays-list,
.parking-list,
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.hours-list {
  position: relative;
}

.hours-row {
  position: relative;
  padding-left: 24px;
  color: #564138;
}

.hours-row::before {
  position: absolute;
  content: "❇︎";
  color: #564138;
  font-size: 16px;
  left: 0;
}

.hours-span {
  font-weight: 600;
}

.holidays-header,
.parking-header,
.contact-header {
  font-size: 16px;
  font-weight: 400;
  color: #564138;
  margin-top: 48px;
}

.holidays-list,
.parking-list,
.contact-list {
  margin-top: 16px;
}

.location-header {
  margin-top: 48px;
}

.location-body {
  font-weight: 500;
  margin-top: 12px;
  color: #564138;
}

.hours-divider {
  height: 1px;
  width: 100%;
  margin-top: 56px;
  border-top: 1px dashed #564138;
}
