.menu-header {
  font-family: "PT Serif", serif;
  font-size: 24px;
  font-weight: 500;
  /* letter-spacing: -1px; */
  color: #564138;
}

.table {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 1px;
  gap: 1px;
  background-color: #564138;
  margin-top: 24px;
  margin-bottom: 96px;
  width: 100%;
}

.row {
  display: flex;
  gap: 1px;
  width: 100%;
  min-height: 64px;
}

.row-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #564138;
  background-color: #f1e8b8;
  padding-left: 20px;
}

.line-symbol {
  display: flex;
  justify-content: center;
  flex-basis: 65px;
  padding-left: 0;
  font-weight: 500;
  font-size: 20px;
}

.meal-name {
  flex-basis: 100px;
  flex-shrink: 0;
  flex-grow: 1;
  font-weight: 700;
}

.meal-ingredients {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 458px;
}

.meal-price {
  display: flex;
  justify-content: center;
  padding-left: 0;
  color: #577137;
  font-weight: 600;
  font-size: 14px;
  flex-basis: 65px;
  flex-shrink: 0;
}
