.menu-header {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1px;
    color: #577137;
  }
  
  .table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 1px;
    gap: 1px;
    background-color: #564138;
    margin-top: 40px;
    margin-bottom: 96px;
    width: 100%;
    height: 200px;
  }
  
  .row {
    display: flex;
    gap: 1px;
    width: 100%;
  }
  
  .row-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #564138;
    background-color: #f1e8b8;
    padding-left: 20px;
  }
  
  .line-symbol {
    display: flex;
    justify-content: center;
    flex-basis: 65px;
    padding-left: 0;
  }
  
  .meal-name {
    flex-basis: 30%;
    font-weight: 700;
  }
  
  .meal-ingredients {
    flex-grow: 1;
  }
  
  .meal-price {
    display: flex;
    justify-content: center;
    padding-left: 0;
    color: #577137;
    font-weight: 700;
    flex-basis: 65px;
  }